@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}

h1, h2 {
  font-size: 1.25em;
  line-height: 0.3;
}

h2 {
  font-weight: 300;
  color: #ffffff;
}

p {
  font-size: 4.6em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);

  text-shadow:
  0 0 5px rgba(255, 255, 255, 0),
  0 0 30px rgba(255, 255, 255, 0),
  0 0 20px rgba(255, 255, 255, 0),
  0 0 40px rgba(255, 255, 255, 0),
  0 0 60px rgba(255, 255, 255, 0);

  animation: glowEffect 2s ease-in-out 3s infinite alternate; /* voegt glow effect toe */
}

@keyframes glowEffect {
  from {
    text-shadow:
    0 0 5px rgba(255, 255, 255, 0),
    0 0 30px rgba(255, 255, 255, 0),
    0 0 20px rgba(255, 255, 255, 0),
    0 0 40px rgba(255, 255, 255, 0),
    0 0 60px rgba(255, 255, 255, 0);
  }
  to {
    text-shadow:
    0 0 5px rgba(255, 255, 255, 0.50),
    0 0 30px rgba(255, 255, 255, 0.50),
    0 0 20px rgba(255, 255, 255, 0.50),
    0 0 40px rgba(255, 255, 255, 0.50),
    0 0 60px rgba(255, 255, 255, 0.50);
  }
}

/* - - - - - - - - - - - - - - - - - - - - - -
:: TOPCONTENT
- - - - - - - - - - - - - - - - - - - - - - */
header {
	padding-top: 10%;
	padding-bottom: 5%;
}

.logoWit { /* kleur logo tussen 00:00 - 05:59 uur */
	background-image: url('images/logo-wit.svg');
}

.logoDonker { /* kleur logo tussen 06:00 - 23:59 uur */
	background-image: url('images/logo-donker.svg');
}

.logoWit, .logoDonker {
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

/* - - - - - - - - - - - - - - - - - - - - - -
:: HOOFDCONTENT
- - - - - - - - - - - - - - - - - - - - - - */
.hoofdContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "top"
  "middle"
  "bottom";
}

.dagdeelTekst { /* sectie begroeting, datum en klok */
  width: 80%;
  margin: auto;
  grid-area: top;
}

.dagdeelAfbeelding1 { /* sectie maan en zon */
  width: 80%;
  margin: auto;
  grid-area: middle;
}

.dagdeelAfbeelding2 { /* sectie bergen */
  grid-area: bottom;
}

/* achtegrondkleuren per dagdeel */
.nachtKleur {
  background-color: #010920;
}

.ochtendKleur {
  background-color: #97B9FF;
}

.middagKleur {
  background-color: #83D3FF;
}

.avondKleur {
  background-color: #E8C276;
}

/* tekstkleur begroeting per dagdeel */
.tekstWit {
  color: #ffffff;
}

.tekstDonker {
  color: #10225B;
}

.tekstWit, .tekstDonker {
  animation: slideRecht 1s;
}

@keyframes slideRecht {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0;
  }
}

/* maan en zon */
.nachtAfbeeldingTop {
  background-image: url('images/maan.png');
}

.ochtendAfbeeldingTop, .middagAfbeeldingTop, .avondAfbeeldingTop {
  background-image: url('images/zon.png');
}

.nachtAfbeeldingTop, .ochtendAfbeeldingTop, .middagAfbeeldingTop, .avondAfbeeldingTop {
  padding-top: 15%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 75%;
  animation: slideDown 3s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-500%);
  }

  to { 
    transform: translateY(0%);
  }
}

/* bergkleuren per dagdeel */
.nachtAfbeeldingBottom {
  background-image: url('images/mountains-nacht.svg');
}

.ochtendAfbeeldingBottom {
  background-image: url('images/mountains-ochtend.svg');
}

.middagAfbeeldingBottom {
  background-image: url('images/mountains-middag.svg');
}

.avondAfbeeldingBottom {
  background-image: url('images/mountains-avond.svg');
}

.nachtAfbeeldingBottom, .ochtendAfbeeldingBottom, .middagAfbeeldingBottom, .avondAfbeeldingBottom {
  padding-top: 13%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - -
:: RESPONSIVE
- - - - - - - - - - - - - - - - - - - - - - */
/* Medium devices - Tablet portrait (768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding-top: 7%;
  }

  .logoWit, .logoDonker {
    background-size: 30%;
  }

  p {
    font-size: 6.2em;
  }
}

/* Medium devices - Tablet landscape (1024px and up) */
@media only screen and (min-width: 1024px) {
  .hoofdContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-column-gap: 0px;
    grid-template-areas:
    "top middle"
    "bottom bottom";
  }

  .dagdeelTekst {
    width: 60%;
  }

  .dagdeelAfbeelding1 {
    padding-right: 80px;
  }
}